:root {
    font-family: "pf-venue", sans-serif;
}

.navbar {
    font-size: 25px;
    font-weight: 700;
    color: #ff00ff;
}

p {
    font-family: "pf-venue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: "pf-venue", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .button {
    font-family: sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .footer-container {
  position: inherit;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding:50px;
}

.img-fluid {
  width: 500px;
  height: 300px;
}

footer {
  background-color: #F4F80E !important;
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  max-height: max-content ; 
}

.footer-content {
  padding-left: 90px ;
  margin-top: 10px;
  margin-bottom: 50px;
  color:rgb(80, 117, 228)
 }
.social-media{
  padding-left: 150px;
}
.T-logo{
  height: 50px;
  margin-top: 20px;
  margin-right: 50px;
}

.footer-top {
  background-color: black;
  color:#FFC107
  
}

.follow-us {

}

.background{
background-image: url("https://res.cloudinary.com/dlbhhobaw/image/upload/v1717622101/Terror-Background_jdtcwt.jpg") ;
background-size: contain;
max-height: 2000px;
background-color: lightyellow !important;

}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

